body {
    background-color: rgb(134, 129, 129);
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;

}

.stats {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.coin {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.buttons {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    width: 100px;
}